
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

ul.eli-item-actions  {
  display: inline;
}


ul.eli-item-actions>li {
  display: inline;
  list-style-type: none;
  padding-right: 3px;
}

.input-field.tight {
  margin-top: 0.5rem;
}

.input-field.tight label {
  top: 1.5rem;
  left: 0.75rem;
}

ul.hierarchical {
  display: list-item;
  list-style-type: circle;
  margin-left: 1rem;
  margin-top: 0px;
}

ul.hierarchical li {
  list-style-type: circle;
}
ul.hierarchical li:before {
  /*
  content: '\2022';
  padding-right: 5px;
  */
}

ul.breadcrumbs {
  display: inline;
  list-style-type: circle;
  margin-left: 1rem;
}
ul.breadcrumbs a {
  display: inline;
}
ul.breadcrumbs li:before {
  display: inline;
  content: "/";
  /*padding-right: 5px;*/
}